html{
    background-color: #333232;
    height: 100%;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container{
    height: 325px;
    width: 350px;
    background-color: #f5e4c3;
    display: grid;
    grid-template-columns:100px 1fr;
    grid-template-rows: 75px 75px 75px 75px;
     margin: 0 auto;
     border: 5px solid #775286;
     padding: 25px;

}

#bill-amount{
    
    height: 25px;
    width: 250px;
}

#tip-percentage{
    height: 25px;
    width: 250px;
}

#tip-amount{
    height: 25px;
    width: 250px;
}

#total-bill{
    height: 25px;
    width: 250px;
}

#btn{
    height: 25px;
    width: auto;
}